* {
  margin: 0;
  padding: 0;
  background-color: rgb(95, 158, 160);
}
.heading {
  text-align: center;
  text-transform: capitalize;
  /* text-decoration: underline; */
  background-color: black;
  color: #ffff;
  padding: 20px;
  margin: 5px;
}
.box {
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(12, 14, 13);
  color: #ffff;
  text-align: center;
  box-sizing: border-box;
  /* display: block; */
  display: inline-block;
  /* display: none; */
}
